.graphTable
{
    position: absolute;
    top:15%;
    left:30%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(2,400px);
    grid-gap:50px 30px;
}

.graph{
    width: 350px;
    height: auto;
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}
.select {
    margin-top: 150px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    display: inline-block;
}
.select label {
    margin-right: 5px;
    display: block;
    margin-bottom: 5px;
}
.container {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
}

.container img {
    width: calc(100% - (100px * 2));
    margin: 20px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: contain;
    margin-top: 200px;
}
.form {
    position: fixed;
    left: 500px;
    top: 0;
}