#root {
    max-width: 1280px;
    margin: 0 auto;
}

.top {
    left: 0;
    right: 0;
    position: absolute;
    top: 20px;
    text-align: center;
    margin: auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #a1a1a1;
}
