#root {
    max-width: 1280px;
    margin: 0 auto;
}

.top {
    left: 0;
    right: 0;
    position: absolute;
    top: 20px;
    text-align: center;
    margin: auto;
}

h1 {
    color: #a1a1a1;
    text-align: center;
}
