
.card {
    background-color: #1a1a1a;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.minor-card-image {
    margin-right: 3px;
    margin-left: 3px;
}

.card .card-image {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
}

.card .card-title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    color: #a1a1a1;
}