th {
    border: 2px solid #a1a1a1;
    width: 120px;
    height: 74px;
}
.graphTable {
    position: absolute;
    top: 15%;
    left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 400px);
    grid-gap: 50px 30px;
}

.graph {
    width: 350px;
    height: auto;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.select {
    margin-top: 125px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.select-bacteria {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.select label {
    margin-right: 5px;
    display: block;
    margin-bottom: 5px;
}

.container {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 50%;
    height: 400px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

h4 {
    margin-right: 75px;
}

.container img {
    margin-top: 100px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.form {
    position: fixed;
    left: 500px;
    top: 0;
}

.bacteria-info-container {
    position: absolute;
    top: 150px;
    left: 500px;
    display: inline-block;
}
