.collapsible {
    background-color: #343434;
    color: #a1a1a1;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    position: fixed;
    left: 10px;
    width: 360px;
    font-size: 15px;
    top: 25%;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #343434;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.collapsible_closed:after {
    content: '\2795';
    font-size: 16px;
    float: right;
}

.collapsible_open:after {
    content: '\2796';
    font-size: 16px;
    float: right;
}